body {
    background-image: url(D:\Videojuegos\Videojuegos\Imágenes\Fondo.jpg);
    font-size:1,2rem;
    font-family:'Times New Roman', Times, serif
}


p{
    text-align: center;
    color: aliceblue;
}


h1 {
    text-align:center;
    color: gold;
    
}


h2 {
    text-align: center;
    color: hotpink;
    
}


dl{
    text-align: center;
}


ol{
    text-align:center;
}


ul{
    text-align: center;
}


table{
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(159, 188, 143, 0.938);
}