body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvmZiavE1UbQYjRtvkjUFK3UgY3VIPnEBNuWzvxfQxiJyQhnyQXqmtvV-FYUR25N-_Odo&usqp=CAU);
    font-size:1,4rem;
    font-family:'Times New Roman', Times, serif
}


p{
    text-align: center;
    color: aliceblue;
}


h1 {
    text-align:center;
    color: gold;
    
}


h2 {
    text-align: center;
    color: hotpink;
    
}


dl{
    text-align: center;
    color: aliceblue;
}


ol{
    text-align: center;
    color: aliceblue; 
}


ul{
    text-align: center;
    color: aliceblue;
}


table{
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(159, 188, 143, 0.938);
}


a{
    color: aliceblue;
}


footer{
    text-align: center;
    color: coral;
    background-color: rgb(255, 113, 208);
}


header{
    background-color: brown;
}


main{
    background-color:lightgreen;
    padding: 15px;
    
}